<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>darktable</string>
	<key>LSPrefersCarbon</key>
	<true/>
	<key>CFBundleIconFile</key>
	<string>darkicon</string>
	<key>CFBundleIdentifier</key>
	<string>jo.hanatos.darktable</string>
	<key>LSExecutableArchitectures</key>
	<array>
		<string>i386</string>
	</array>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>darktable</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleDisplayName</key>
	<string></string>
	<key>CFBundleVersion</key>
	<string>0.01</string>
</dict>
</plist>
