src/darktable
missing
stamp-h1
Makefile
autom4te.cache/
config.guess
config.h
config.log
config.status
config.sub
configure
depcomp
install-sh
install/
libtool
ltmain.sh
*.swp
*.m4
*.o
*.la
*.so
*.in
*.lo
*.a
.libs
.deps
