darktable.schemas
release
intltool-extract.in
intltool-merge.in
intltool-update.in
intltool-extract
intltool-merge
intltool-update
po/*.gmo
po/*.mo
po/*.pot
po/.intltool-merge-cache
po/Makefile
po/Makefile.in
po/Makefile.in.in
po/POTFILES
po/cat-id-tbl.c
po/messages
po/missing
po/po2tbl.sed
po/po2tbl.sed.in
po/stamp-cat-id
po/stamp-it
src/darktable
missing
stamp-h1
Makefile
autom4te.cache/
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
install-sh
install/
libtool
ltmain.sh
*.swp
*.m4
*.o
*.la
*.so
*Makefile.in
*.lo
*.a
.libs
.deps
