[submodule "src/external/rawspeed"]
	path = src/external/rawspeed
	url = https://github.com/sarunasb/rawspeed.git
	branch = om
[submodule "src/external/OpenCL"]
	path = src/external/OpenCL
	url = https://github.com/KhronosGroup/OpenCL-Headers.git
[submodule "src/external/libxcf"]
	path = src/external/libxcf
	url = https://github.com/houz/libxcf.git
[submodule "src/external/whereami"]
	path = src/external/whereami
	url = https://github.com/gpakosz/whereami
[submodule "src/tests/integration"]
	path = src/tests/integration
	url = https://github.com/darktable-org/darktable-tests.git
[submodule "src/external/LibRaw"]
	path = src/external/LibRaw
	url = https://github.com/LibRaw/LibRaw.git
