darktable.schemas
release
intltool-extract.in
intltool-merge.in
intltool-update.in
intltool-extract
intltool-merge
intltool-update
configure.ac
po/*.gmo
po/*.mo
po/*.pot
po/.intltool-merge-cache
po/Makefile
po/Makefile.in
po/Makefile.in.in
po/POTFILES
po/cat-id-tbl.c
po/messages
po/missing
po/po2tbl.sed
po/po2tbl.sed.in
po/stamp-cat-id
po/stamp-it
src/darktable
missing
stamp-h1
Makefile
autom4te.cache/
config.guess
config.h
config.h.in
config.h.in~
config.status
config.sub
*.cdbs-orig
stamp-*
configure
depcomp
install-sh
install/
libtool
ltmain.sh
*.swp
*.m4
*.o
*.la
*.so
*Makefile.in
*.lo
*.a
*.log
.libs
.deps
tmp
doc/usermanual/build/
doc/usermanual/darktable-usermanual*.pdf
src/common/version.h
version.sh
debian/files
*.substvars
debian/darktable
debian/darktable-dbg
src/gui/preferences_gen.h
