johannes hanika <hanatos@gmail.com>
johannes hanika <hanatos@gmail.com> johannes hanika <hanika@kit.edu>
johannes hanika <hanatos@gmail.com> Johannes Hanika <jhanika@azrael.(none)>
johannes hanika <hanatos@gmail.com> johannes <hanatos@gmail.com>
johannes hanika <hanatos@gmail.com> jhanika <jhanika@2165daf7-ed08-4abd-b3da-b2de91a31a1b>
johannes hanika <hanatos@gmail.com> jhanika <jhanika@2165daf7-ed08-4abd-b3da-b2de91a31a1b>

Henrik Andersson <hean01@users.sourceforge.net>
Henrik Andersson <hean01@users.sourceforge.net> Henrik Andersson <henrik.4e@gmail.com>
Henrik Andersson <hean01@users.sourceforge.net> Henrik Andersson <dinamic@dinamic-desktop.(none)>
Henrik Andersson <hean01@users.sourceforge.net> Henrik Andersson <root@dinamic-desktop.(none)>
Henrik Andersson <hean01@users.sourceforge.net> dinamic <dinamic@dinamic-desktop.(none)>
Henrik Andersson <hean01@users.sourceforge.net> dinamic <dinamic@Mac-mini.local>

Tobias Ellinghaus <me@houz.org>
Tobias Ellinghaus <me@houz.org> Tobias Ellinghaus <houz@gmx.de>
Tobias Ellinghaus <me@houz.org> houz <houz@gmx.de>

Pascal de Bruijn <pmjdebruijn@pcode.nl>
Pascal de Bruijn <pmjdebruijn@pcode.nl> Pascal de Bruijn <pmjdebruijn@behemoth.(none)>
Pascal de Bruijn <pmjdebruijn@pcode.nl> Pascal de Bruijn <pmjdebruijn@darkstar.(none)>
Pascal de Bruijn <pmjdebruijn@pcode.nl> Pascal de Bruijn <pmjdebruijn@brutus.(none)>
Pascal de Bruijn <pmjdebruijn@pcode.nl> Pascal de Bruijn <pmjdebruijn@cyclops>
Pascal de Bruijn <pmjdebruijn@pcode.nl> Pascal de Bruijn <pmjdebruijn@predator.(none)>
Pascal de Bruijn <pmjdebruijn@pcode.nl> Pascal de Bruijn <pmjdebruin@pcode.nl>
Pascal de Bruijn <pmjdebruijn@pcode.nl> Pascal de Bruijn <pmjdedebruijn@pcode.nl>
Pascal de Bruijn <pmjdebruijn@pcode.nl> Pascal de Burijn <pmjdebruijn@pcode.nl>

Roman Lebedev <lebedev.ri@gmail.com>

Pascal Obry <pascal@obry.net>
Pascal Obry <pascal@obry.net> Pascal Obry <github@obry.net>

Jérémy Rosen <jeremy.rosen@enst-bretagne.fr>
Jérémy Rosen <jeremy.rosen@enst-bretagne.fr> Jérémy Rosen <jeremy.rosen@openwide.fr>
Jérémy Rosen <jeremy.rosen@enst-bretagne.fr> Boucman <rosen@pattern>

José Carlos García Sogo <jcsogo@gmail.com>
José Carlos García Sogo <jcsogo@gmail.com> Jose Carlos Garcia Sogo <jsogo@debian.org>

Ger Siemerink <g.siemerink@gmail.com>
Ger Siemerink <g.siemerink@gmail.com> Ger Siemerink <Ger Siemerink>
Ger Siemerink <g.siemerink@gmail.com> root <root@ger-laptop.(none)>
Ger Siemerink <g.siemerink@gmail.com> Ger Siemerink <email>

Michel Leblond <michel.leblond62@gmail.com>
Michel Leblond <michel.leblond62@gmail.com> Michel Leblond <michel@debianblancnez>
Michel Leblond <michel.leblond62@gmail.com> lebmich <michel.leblond62@orange.fr>

Simon Spannagel <simonspa@kth.se>
Simon Spannagel <simonspa@kth.se> Simon Spannagel <simon.spannagel@desy.de>
Simon Spannagel <simonspa@kth.se> Simon Spannagel <spanns@cmsspannnb.(none)>

Jean-Sébastien Pédron <jean-sebastien.pedron@dumbbell.fr>
Jean-Sébastien Pédron <jean-sebastien.pedron@dumbbell.fr> Jean-Sébastien Pédron <jean-sebastien@yakaz.com>

Aldric Renaudin <alic.vb@gmail.com>
Aldric Renaudin <alic.vb@gmail.com> AlicVB <dev@lnaa.fr>

Olivier Tribout <olivier.tribout@noos.fr>
Olivier Tribout <olivier.tribout@noos.fr> Olivier <olivier@olivier-G51JX.(none)>

Christian Tellefsen <chris-git@tellefsen.net>
Christian Tellefsen <chris-git@tellefsen.net> christte <chris-github.com@tellefsen.net>

José Carlos Casimiro <jcrc@portugalmail.com>

marcel <minusdreidb+dt@gmail.com>

Josep V. Moragues <josepvm@arrakis.es>
Josep V. Moragues <josepvm@arrakis.es> Josep V <josepvm@users.noreply.github.com>

Michal Babej <Franz.Netykafka@runbox.com>
Michal Babej <Franz.Netykafka@runbox.com> Michal Babej <mbabej@redhat.com>

Kaminsky Andrey <kaminsky.andrey@gmail.com>

Milan Knížek <knizek@volny.cz>
Milan Knížek <knizek@volny.cz> Milan Knížek <knizek.confy@gmail.com>

Victor Lamoine <victor.lamoine@gmail.com>

Mikko Ruohola <mikko@ruohola.org>

David Bremner <bremner@debian.org>
David Bremner <bremner@debian.org> David Bremner <bremner@unb.ca>

Wyatt Olson <wyatt.olson@gmail.com>
Wyatt Olson <wyatt.olson@gmail.com> Wyatt Olson <wyatt@Quark.local>
Wyatt Olson <wyatt.olson@gmail.com> Wyatt <wyatt@digitalcave.ca>

Ivan Tarozzi <itarozzi@gmail.com>

James C. McPherson <jmcp@jmcpdotcom.com>
James C. McPherson <jmcp@jmcpdotcom.com> James C. McPherson <jmcp@jmcp.homeunix.com>
James C. McPherson <jmcp@jmcpdotcom.com> McBofh <jmcp+github@jmcpdotcom.com>

calca <gianluigi.calcaterra@gmail.com>
calca <gianluigi.calcaterra@gmail.com> calca <gianluigi.calcaterra@gmai.com>

Jesper Pedersen <jesper.pedersen@comcast.net>
Jesper Pedersen <jesper.pedersen@comcast.net> Jesper Pedersen <jesper.pedersen@jboss.org>

Jochen Schroeder <cycomanic@gmail.com>

Stuart Henderson <sthen@openbsd.org>
Stuart Henderson <sthen@openbsd.org> Stuart Henderson <stu@spacehopper.org>

Wolfgang Goetz <Wolfgang.ztoeG@web.de>
Wolfgang Goetz <Wolfgang.ztoeG@web.de> Wolfgang <wolfgang.ztoeg@web.de>

Cherrot Luo <cherrot+github@cherrot.com>
Cherrot Luo <cherrot+github@cherrot.com> Cherrot Luo <admin@cherrot.com>

Christian Himpel <chressie@gmail.com>
Christian Himpel <chressie@gmail.com> Christian Himpel <chressie@googlemail.com>

Karl Mikaelsson <derfian@cendio.se>
Karl Mikaelsson <derfian@cendio.se> Karl Mikaelsson <derfian@lysator.liu.se>

Jan Kundrát <jkt@kde.org>
Jan Kundrát <jkt@kde.org> Jan Kundrát <jkt@flaska.net>

Federico Bruni <fede@inventati.org>
Federico Bruni <fede@inventati.org> Federico Bruni <fedelogy@gmail.com>

Togan Muftuoglu <toganm@opensuse.org>
Togan Muftuoglu <toganm@opensuse.org> Togan Muftuoglu <toganm@users.sourceforge.net>

Daniele Giorgis <daniele.giorgis@gmail.com>
Daniele Giorgis <daniele.giorgis@gmail.com> Daniele Giorgis <daniele@MB-Ubuntu.(none)>

Robert William Hutton <rhutton@gmail.com>
Robert William Hutton <rhutton@gmail.com> Robert William Hutton <rwh@helms-deep.net>
Robert William Hutton <rhutton@gmail.com> Robert Hutton <robert.hutton@unimelb.edu.au>

Jan Niklas Fingerle <Jan.Niklas@Fingerle.org>
Jan Niklas Fingerle <Jan.Niklas@Fingerle.org> Jan Niklas Fingerle <jan.niklas@fingerle.org>

Mattias Eriksson <snaggen@gmail.com>
Mattias Eriksson <snaggen@gmail.com> Mattias Eriksson <snaggen@acc.umu.se>

thisnamewasnottaken <hp.vandenberg@gmail.com>
thisnamewasnottaken <hp.vandenberg@gmail.com> thisnamewasnottaken <nathalierognon@MausAppleBox.local>

tatica <tatadbb@gmail.com>

Alexander V. Smal <avsmal@gmail.com>
Alexander V. Smal <avsmal@gmail.com> Alexander V. Smal <smal@logic.pdmi.ras.ru>

shlomi braitbart <sbraitbart@gmail.com>

Matthieu Volat <mazhe@alkumuna.eu>
Matthieu Volat <mazhe@alkumuna.eu> Matthieu <mazhe@alkumuna.eu>
Matthieu Volat <mazhe@alkumuna.eu> Matthieu Volat <matthieu.volat@ujf-grenoble.fr>

Stefan Schöfegger <memo5@gmx.at>

Báthory Péter <bathory86p@gmail.com>
Báthory Péter <bathory86p@gmail.com> Péter Báthory <bathory@index.hu>

Maurizio Paglia <mpaglia0@gmail.com>
Maurizio Paglia <mpaglia0@gmail.com> Maurizio Paglia <mpaglia0@gmail.com>

Wolfgang Goetz <Wolfgang.ztoeG@web.de>
Wolfgang Goetz <Wolfgang.ztoeG@web.de> Wolfgang Goetz <wolfgang.ztoeg@web.de>

Pierre Lamot <pierre.lamot@openwide.fr>
Pierre Lamot <pierre.lamot@openwide.fr> Pierre Lamot <pierre.lamot@yahoo.fr>

Novy Sawai <a3novy01@gmail.com>
Novy Sawai <a3novy01@gmail.com> a3 <a3@ryzen.route>

Peter Budai <peterbudai@hotmail.com>
Peter Budai <peterbudai@hotmail.com> peterbud <peterbudai@hotmail.com>
Peter Budai <peterbudai@hotmail.com> Peter Budai <peterbud@microsoft.com>

Ingo Liebhardt <ingo.liebhardt@ziggo.nl>
Ingo Liebhardt <ingo.liebhardt@ziggo.nl> ILiebhardt <ingo.liebhardt@ziggo.nl>

itinerarium <code@0n0e.com>

Tobias Jakobs <tobias.jakobs@gmail.com>

Liran Vaknin <liranvaknin@gmail.com>

Dominik Markiewicz <theresq@gmail.com>

grand-piano <mac.kg@web.de>
grand-piano <mac.kg@web.de> G.M <41842524+grand-piano@users.noreply.github.com>

Benoit Brummer <trougnouf@gmail.com>

Philippe Weyland <philippe.weyland@laposte.net>
Philippe Weyland <philippe.weyland@laposte.net> Philippe Weyland <philippe.weyland@libertysurf.fr>
Philippe Weyland <philippe.weyland@laposte.net> phweyland <philippe.weyland@libertysurf.fr>
Philippe Weyland <philippe.weyland@laposte.net> philippe <philippe.weyland@libertysurf.fr>
Philippe Weyland <philippe.weyland@laposte.net> philippe <philippe@debian-ph.home>

Mario Lueder <monsieur.mona@gmail.com>

luzpaz <kunda@scribus.net>
luzpaz <kunda@scribus.net> luz.paz <luzpaz@users.noreply.github.com>

Shita Yuuma <m@crat.jp>

Rikard Öxler <rikard.oexler+git@gmail.com>
Rikard Öxler <rikard.oexler+git@gmail.com> Rikard Öxler <32703054+oexler@users.noreply.github.com>

Aurélien PIERRE <aurelien@aurelienpierre.com>
Aurélien PIERRE <aurelien@aurelienpierre.com> Aurélien PIERRE <aurelien@cellierdomesticus.ca>
Aurélien PIERRE <aurelien@aurelienpierre.com> Aurélien PIERRE <contact@aurelienpierre.com>
Aurélien PIERRE <aurelien@aurelienpierre.com> Aurélien PIERRE <aurelienpierre@users.noreply.github.com>

Nicolas Auffray <nicolas.auffray@zaclys.net>
Nicolas Auffray <nicolas.auffray@zaclys.net> Nilvus <nicolasauffray@aol.fr>
Nicolas Auffray <nicolas.auffray@zaclys.net> Nilvus <45535283+Nilvus@users.noreply.github.com>

Timur Davletshin <timur.davletshin@gmail.com>
Timur Davletshin <timur.davletshin@gmail.com> Timur Irikovich Davletshin <timur@debian>

Sam Smith <sams96@mail.com>
Sam Smith <sams96@mail.com> mondoman712 <sams96@mail.com>

Hanno Schwalm <hanno@schwalm-bremen.de>
Hanno Schwalm <hanno@schwalm-bremen.de> hanno@schwalm-bremen.de <hanno@schwalm-bremen.de>

Ralf Brown <ralfbrown@users.noreply.github.com>
Ralf Brown <ralfbrown@users.noreply.github.com> ralfbrown <ralfbrown@users.noreply.github.com>

Diederik ter Rahe <dterrahe@yahoo.com>
Diederik ter Rahe <dterrahe@yahoo.com> dterrahe <dterrahe@yahoo.com>

Jeronimo Pellegrini <j_p@aleph0.info>
Jeronimo Pellegrini <j_p@aleph0.info> jpellegrini <j_p@aleph0.info>

Marko Vertainen <marko.vertainen@iki.fi>
Marko Vertainen <marko.vertainen@iki.fi> vertama <marko.vertainen@iki.fi>
Marko Vertainen <marko.vertainen@iki.fi> vertama <47715736+vertama@users.noreply.github.com>
