a:link    { font-weight:bold; font-style:normal; color:#555566;   text-decoration:none; }
a:visited { font-weight:bold; font-style:normal; color:#555566;   text-decoration:none; }
a:focus   { font-weight:bold; font-style:normal; color:#555566;   text-decoration:underline; }
a:hover   { font-weight:bold; font-style:normal; color:white; text-decoration:none; }

body{
  background-image:url("darktablebg.png"); 
  background-repeat:no-repeat;
  background-position:center 34px;
  background-color:#5a5858;
  font-family:trebuchet ms,bitstream vera sans,verdana,helvetica,arial,sans-serif; font-size: 8pt;
  margin: 0;
  padding: 0;
  border: 0;
}

body.navbody{
  font-family:trebuchet ms,bitstream vera sans,verdana,helvetica,arial,sans-serif; font-size: 8pt;
  background-color:#d2d0d0; /*#e0e2e2;*/
  margin: 0;
  padding: 0;
  border: 0;
}

.page{
  background-color:#d2d0d0; /*#e0e2e2;*/
  padding: 20pt;
  padding-bottom: 40pt;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50pt;
  margin-bottom: 0pt;
  width: 692px;
  counter-reset: section;
  border-style:solid;
  border-width:1px;
  border-color:#222222;
}
.footer{
  background-image:none;
  background-color:#5a5858;
  padding: 0pt;
  padding-bottom: 0pt;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5pt;
  margin-bottom: 20pt;
  width: 692px;
}
.navigation{
  margin-bottom:25pt;
  margin-top:10pt;
  font-weight:bold;
  font-style:italic;
  vertical-align:baseline;
  color:white;
  text-align:right;
}

.navigationNumber{
  color:#6a6868;
  font-style:normal;  
  font-weight:bold;
	font-size:9pt;
	margin-right: 2pt;
	margin-left: 10pt;
}

.eyeCatcher{
  margin-bottom:40pt;
}

.number{
  float:left;
	margin-bottom:10pt;
	margin-right:25pt;
	padding-top:7pt;
}

.img{
  float:left;
  margin-right:10pt;
  margin-bottom:10pt;
  margin-top:4px;
  border-style:solid;
  border-width:1px;
  border-color:#6a6868;
  width:200px;
  height:100px;
}

.bigimg{
  float:left;
  margin-right:10pt;
  margin-bottom:10pt;
  margin-top:4px;
  border-style:solid;
  border-width:1px;
  border-color:#6a6868;
  width:400px;
  height:200px;
}

.fullwdimg{
  float:left;
  margin-right:10pt;
  margin-bottom:10pt;
  margin-top:4px;
  border-style:solid;
  border-width:1px;
  border-color:#6a6868;
  width:692px;
}

.listtext .img{
  float:left;
	margin-right:10pt;
	margin-bottom:10pt;
	margin-left:-220px;
	margin-top:4px;
	border-style:solid;
	border-width:1px;
	border-color:#6a6868;
}

.listtext{
  margin-left: 220px;
  line-height:12pt;
  margin-bottom:20pt;
  clear:both;
}

.imgbadge{
  float:right;
	margin-right:0pt;
	margin-bottom:0pt;
	margin-top:0px;
	border-style:none;
	border-width:0px;
  padding-left:10px;
}
.imgnoborder{
  float:left;
	margin-right:10pt;
	margin-bottom:10pt;
	margin-top:4px;
	border-style:none;
	border-width:0px;
	border-color:#6a6868;
}

.headline{
  position:relative;
  margin-bottom:2pt;
  margin-left:2em;
  color:#6a6868;
  vertical-align:text-top;
  font-size: 42pt;
  font-weight: bold;
}
h1, h2{
  position:relative;
  margin-bottom:10pt;
  color:#6a6868;
  margin-top:0pt;
  font-size:12pt;
  text-align:left;
}

p{
  text-indent:2em;
}
p.news{
  position:relative;
  margin-bottom:10pt;
  color:#6a6868;
  margin-top:0pt;
  font-size:12pt;
  line-height:120%;
  font-weight:bold;
}


h1:before {
  counter-increment: section;
  content: counter(chapter) "." counter(section) ". ";
}
.starterText{
  line-height:12pt;
  margin-bottom:20pt;
}

.text{
  line-height:12pt;
  margin-bottom:20pt;
  clear:both;
}

.headingtext{
  line-height:12pt;
  padding-top:30pt;
  margin-bottom:20pt;
  clear:both;
}

ul{
  position:relative;
  list-style:  disc;
  margin: 8pt 0pt 16pt 10pt;
  padding:0pt;
}
li{
  margin-bottom: 8pt;
  margin-left: 0pt;
  padding: 0pt;
}

em{ 
  font-weight:bold; 
	font-style:italic; 
	color:#6a6868;   
	text-decoration:none; 
}
tr.odd
{
  background-color:#c2c0c0;
}
tr.even
{
  background-color:#b2b0b0;
}
td
{
  padding-left:5pt;
  padding-right:5pt;
  padding-top:0pt;
  padding-bottom:0pt;
  border:0pt;
}
