[Desktop Entry]
Name=Darktable
GenericName=Virtual Lighttable and Darkroom
GenericName[ru]=Программа для отсмотра и проявки цифровых негативов
GenericName[de]=Virtueller Leuchttisch und Dunkelkammer
GenericName[sv]=Virtuellt ljusbord och mörkerrum
GenericName[nl]=Virtuele Lichttafel en Doka
GenericName[fi]=Virtuaalinen valopöytä ja pimiö
GenericName[fr]=Table lumineuse et chambre noire virtuelles
GenericName[cs]=Virtuální prosvětlovací pult a fotokomora
GenericName[pl]=Wirtualny stół podświetlany i ciemnia

Comment=Organize and develop images from digital cameras
Comment[ru]=Организация, сортировка и проявка цифровых негативов
Comment[de]=Organisiere und entwickle Bilder von Digitalkameras
Comment[sv]=Organisera och utveckla bilder ifrån digitalkameror
Comment[nl]=Organiseer en ontwikkel beelden van digitale camera's
Comment[fi]=Järjestele ja kehitä kuvia digitaalikameroista
Comment[fr]=Organiser et développer les images d'un boîtier numérique
Comment[cs]=Správa a vyvolávání snímků z digitálních fotoaparátů
Comment[pl]=Organizuj i wywołuj zdjęcia z aparatów cyfrowych

X-GNOME-FullName=Darktable Photo Workflow Software

Version=1.0

Type=Application
Categories=Graphics;Photography;GTK;

Exec=darktable %U
TryExec=darktable
Terminal=false
StartupNotify=true

MimeType=application/x-darktable;image/x-dcraw;

Icon=darktable

