@define-color bg_color #212121;
@define-color plugin_bg_color #252525;
@define-color fg_color #cacaca;
@define-color base_color #ffffff;
@define-color text_color #3C3C3C;
@define-color selected_bg_color #353535;
@define-color selected_fg_color #e2e2e2;
@define-color tooltip_bg_color #000000;
@define-color tooltip_fg_color #ffffff;
@define-color really_dark_bg_color #111;

@define-color dark_bg_color #350000;

* {
  font: Sans 8;
  color: @fg_color;
  background-color: @bg_color;
  border-color: #111111;
  text-shadow:none;
  margin: 0;
  padding: 0;
  border: 0;
}

GtkAlignment
{
  background-color:transparent;
}

#iop-plugin-ui GtkBox,
#lib-plugin-ui GtkBox
{
  background-color:transparent;
  margin:0;
  border:0;
  padding:0;
}
#iop-plugin-ui GtkEventBox,
#lib-plugin-ui GtkEventBox
{
  background-color:transparent;
  margin:0;
  border:0;
  padding:0;
}
/* bright background */
#background_job_eventbox,
#iop-plugin-ui *
{
  padding:0;
  border:0;
  margin:0;
  background-color: @plugin_bg_color;
  outline-style:none;
}
#iop-plugin-ui *:selected
{
  padding:0;
  border:0;
  margin:0;
  background-color: @selected_bg_color;
  outline-style:none;
}
#lib-plugin-ui *
{
  margin:0;
  border:0;
  background-color: @selected_bg_color;
}
/* lib toggle buttons (e.g recently used collection and history items): */
/* TODO: adjust borders/padding to our liking (match bauhaus..) */
#lib-plugin-ui .button,
.button
{
  /* note that the button has no padding, the label inside the button has the padding. */
  border-radius: 0;
  border-style: none;
  box-shadow:none;
  outline-width:0;
  border-image:none;
  padding:0;
  margin:0;
  border:0;
}
#lib-plugin-ui .button:checked,
.button:checked
{
  border-style:none;
  background-image:none;
  background-color: shade(@selected_bg_color, 1.4);
}
#lib-plugin-ui .button:hover,
.button:hover
{
  border-style:none;
  background-color: shade(@selected_bg_color, 1.7);
}
#iop-plugin-ui GtkLabel,
#iop-plugin-ui GtkLabel:hover,
#lib-plugin-ui GtkLabel,
#lib-plugin-ui GtkLabel:hover
{
  padding:2pt 4pt 2pt 4pt;
  background-color: transparent;
}
#iop-plugin-ui,
#lib-plugin-ui
{
  border: 1px solid #171717;
  border-radius: 2px;
  box-shadow: inset 0 0 2px #171717;
  margin: 0px;
  padding: 1px 4px 1px 4px;
  background-color: @plugin_bg_color;
}
#iop-plugin-ui:selected,
#lib-plugin-ui
{
  border: 1px solid #111111;
  box-shadow: inset 0 0 2px #141414;
  border-radius: 2px;
  margin: 0px;
  padding: 1px 4px 1px 4px;
  color: @selected_fg_color;
  background-color: @selected_bg_color;
}

GtkTable {
  background-color: transparent;
  margin:0;
  border:0;
  padding:0;
}

#header_label,#darktable_label,#view_label {
  color: #7f7f7f;
  background-color: @bg_color;
  font-size: 1.7em;
  margin:0;
  border:0;
  padding:0;
}

#view_label:hover {
  color: #a0a0a0;
}

#view_label:selected {
  color: #afafaf;
}

#panel_label {
  color: @fg_color;
  background-color: @bg_color;
  margin:0;
  border:0;
  padding:0;
}

#section_label {
  padding-right: 0.5em;
  border-bottom: 1px solid @fg_color;
}

#lib-modulelist * {
  background-color: @bg_color;
}

GtkFrame > GtkEventBox {
  border: 1px solid #111111;
  background-color: @selected_bg_color;
  color: @selected_fg_color;
}

GtkFrame > GtkEventBox * {
  background-color: @selected_bg_color;
  color: @selected_fg_color;
}

.button {
  border-radius: 0;
  border:0;
  border-style: none;
  border-image:none;
  border-color: transparent;
  background-image:none;
  outline-style:none;
  text-shadow:none;
}

#iop-plugin-ui .entry,
#lib-plugin-ui .entry,
.entry {
  border-radius: 0;
  border:0;
  padding-left: 2px; /* align with bauhaus widgets */
  border-style: none;
  border-color: alpha(@fg_color, 0.5);
  border-image:none;
  color:@fg_color;
  box-shadow: none;
  background-image:none;
  outline-style:none;
  text-shadow:none;
  background-color:shade(@selected_bg_color, 0.8);
}
#iop-plugin-ui .entry:selected,
#lib-plugin-ui .entry:selected,
.entry:selected {
  background-color:@bg_color;
}
/* weird fix for black event boxes in light table lib modules: */
#lib-plugin-ui GtkEventBox
{
  background-color:@selected_bg_color;
}
#lib-plugin-ui .cell
{
  background-color:shade(@selected_bg_color, 0.8);
}
#lib-plugin-ui row
{
  background-color:@selected_bg_color;
}
#lib-plugin-ui row:selected
{
  background-color:@bg_color;
}

/* due to css rubbish, we need to be more specific than anything else,
 * so we give the name of the parent widget: */
#iop-plugin-ui .notebook,
#lib-plugin-ui .notebook,
#iop-plugin-ui .notebook tab,
#lib-plugin-ui .notebook tab {
  border:0;
  border-radius:0;
  border-style:none;
  box-shadow:none;
  background-image:none;
  outline-style:none;
  outline-width:0;
  border-image:none;
  background-color: transparent;
}
#iop-plugin-ui .notebook tab:active,
#lib-plugin-ui .notebook tab:active {
  background-color: @bg_color;
}

*:insensitive {
  color: black;
}
