/*
 this file only exists to check if style loading works. dark dt => ok, light dt => fail.
 */

* {
  font: Sans 8;
  color: #cacaca;
  background-color: #212121;
  border-color: #111111;
  margin: 0;
  padding: 2px;
  border: 0;
}

/* bright background */
#plugins_vbox > .GtkEventBox, #plugins_vbox_left > .GtkEventBox,
#right > .GtkEventBox, #left > .GtkEventBox, #background_job_eventbox,
#dt-plugin-ui *
{
  background-color: #252525;
}
#dt-plugin-ui *:selected
{
  background-color: #353535;
}
#dt-plugin-ui *:prelight
{
  background-color: #550000;
}
#dt-plugin-ui
{
  border: 2px solid #111111;
  border-radius: 2px;
  /*border-style: inset;*/
  margin: 1px;
  padding: 2px;
  background-color: #252525;
}
#dt-plugin-ui:selected
{
  border: 2px solid #111111;
  border-radius: 2px;
  /*border-style: inset;*/
  margin: 1px;
  padding: 2px;
  color: #e2e2e2;
  background-color: #353535;
}

#plugins_vbox_left  .GtkTable * {
  background-color: #ff0000;
  margin:0;
  border:0;
  padding:0;
}

#header_label,#darktable_label,#view_label {
  color: #7f7f7f;
  background-color: #212121;
  font: Sans bold 8;
}

#panel_label {
  color: white;
  background-color: #212121;
  font: Sans bold 8;
}

