/*
 this file only exists to check if style loading works. dark dt => ok, light dt => fail.
 */

* {
  font: Sans 10;
  color: #cacaca;
  background-color: #212121;
  border-color: #111111;
  margin: 0;
  padding: 2px;
  border: 0;
}

/*#right, #left, #plugins_vbox,#plugins_vbox_left*/
.GtkBox
{
  margin:0;
  border:0;
  padding:0;
}
/* bright background */
#right > .GtkEventBox, #left > .GtkEventBox, #background_job_eventbox,
#dt-plugin-ui *
{
  text-align:left;
  margin:0;
  border:0;
  padding:0;
  background-color: #252525;
}
#dt-plugin-ui .GtkBox
{
  background-color: rgba(0,0,0,0);
}
#dt-plugin-ui *:selected
{
  margin:0;
  border:0;
  padding:0;
  background-color: #353535;
}
#dt-plugin-ui *:prelight
{
  background-color: #550000;
}
#dt-plugin-ui
{
  border: 1px solid #151515;
  border-radius: 1px;
  box-shadow: inset 0 0 1px #151515;
  margin: 0px;
  /*border-style: inset;*/
  padding: 4px;
  background-color: #252525;
}
#dt-plugin-ui:selected
{
  border: 2px solid #111111;
  border-radius: 2px;
  /*border-style: inset;*/
  margin: 1px;
  padding: 2px;
  color: #e2e2e2;
  background-color: #353535;
}

#plugins_vbox_left  .GtkTable * {
  background-color: #ff0000;
  margin:0;
  border:0;
  padding:0;
}

#header_label,#darktable_label,#view_label {
  color: #7f7f7f;
  background-color: #212121;
  font: Sans 10;
  margin:0;
  border:0;
  padding:0;
}

#panel_label {
  color: #cacaca;
  background-color: #212121;
  font: Sans 10;
  margin:0;
  border:0;
  padding:0;
}
