/* Import theme */
@import url('lz-theme.css');

/* Resource */
.lz-loader	{ background:transparent url(loading.gif) 50% 50% no-repeat; }
.lz-prev	{ background:transparent url(prev.png) 5% 48% no-repeat; }
.lz-next	{ background:transparent url(next.png) 95% 48% no-repeat; }
.lz-close	{ background:transparent url(close.png); }
.lz-download	{ background:transparent url(download.png); }
.lz-fullScreen 	{ background:transparent url(fullscreen.png); }
.lz-print	{ background:transparent url(print.png); }
.lz-more 	{ background:transparent url(more.png); }
.lz-like span,
.lz-like	{ background:transparent url(like.png) 0 0 no-repeat!important; }

/* ---- Hardcore ---- */
#lightzap{position:fixed;top:0;left:0;width:100%;height:100%;z-index:9000;}
.lz-image{max-width:100%;max-height:100%;}
#lightzap.full-screen .lz-image{width:auto;}
#lightzap a img{border:none;}
.lz-container{position:relative;}
#lightzap.full-screen .lz-container{width:100%;height:100%;}
.lz-loader{position:absolute;top:0;left:0;height:100%;width:100%;text-align:center;line-height:0;}
.lz-nav{position:absolute;top:5%;left:0;height:90%;width:100%;}
.lz-container > .nav{left:0;}
.lz-nav a{outline:none;}
.lz-prev,.lz-next{width:49%;height:100%;display:block;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=40);opacity:0.4;}
.lz-prev:hover,.lz-next:hover{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100)!important;opacity:1!important;}
.lz-prev{left:0;float:left;}
.lz-next{right:0;float:right;}
.lz-caption{max-width:100%;max-height:2.5em;text-align:left;overflow:hidden;word-wrap:break-word;}
.lz-by{text-decoration:none;}
.lz-buttonContainer{text-align:right;vertical-align:top;}
.lz-button{display:inline-block;zoom:1;width:24px;height:24px;outline:none;}
.lz-button:hover{cursor:pointer;}
#lightzap.full-screen .lz-fullScreen{display:none;}
