body {
  background-color: #5a5858;
  font-family: 'Trebuchet MS', 'Bitstream Vera Sans', Verdana, Helvetica, Arial, sans-serif;
  font-size: 8pt;
  margin: 0;
  padding: 0;
  border: 0;
}

header {
  max-width: 742px;
  height: 90px;
  position: relative;
  margin: 0 auto;
}

header h1 {
  color: #d2d0d0;
  font-weight: bold;
  font-size: 26px;
  position: absolute;
  bottom: -6px;
  left: 0;
  margin: 0;
}

main {
  background-color: #d2d0d0;
  border: 1px solid #222;
  border-bottom: none;
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  max-width: 700px;
  margin: 0 auto;
  padding-inline: 20px;
  padding-block: 40px;
  align-items: start;
}


figure {
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: left;
  margin: 0;
  padding: 0;
}

figure > * {
  color: #6a6868;
  margin-inline: 12px;
}

h2 {
  margin-block: 4px;
  font-size: 18px;
}

.thumbnail {
  background-color: #ababab;
  border: 1px solid #6a6868;
  box-shadow: 0 5px 10px #a6a6a6;
  margin: 12px;
  height: 200px;
  object-fit: contain;
  width: calc(100% - 24px);
}

footer {
  background-color: #c0c0c0;
  max-width: 740px;
  margin: 0 auto;
  padding-block: 10px;
  border: 1px solid #222;
  border-top: none;
  text-align: right;
}

footer p {
  padding: 10px;
  font-weight: bold;
  color: #666;
  font-size: 12px;
  margin: 0;
}

footer code {
  padding: 0.2rem 0.5rem;
  margin: 5em auto;
  line-height: 22px;
  white-space: pre-wrap;
  background-color: #f1f1f1;
  color: #585858;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
}