Source: darktable
Section: graphics
Priority: extra
Maintainer: johannes hanika <hanatos@gmail.com>
Build-Depends: debhelper (>= 7), libtool, intltool, autotools-dev, libgtk2.0-dev, libsqlite3-dev, libglade2-dev, libgegl-0.0-dev, libcairo2-dev,  liblcms1-dev, libexiv2-dev, libjpeg62-dev, libpng12-dev, liblensfun-dev, libgconf2-dev
Standards-Version: 3.8.0
Homepage: http://www.darktable.org/

Package: darktable
Architecture: any
Depends: ${shlibs:Depends}, libgtk2.0-0, libsqlite3-0, libglade2-0, libgegl-0.0-0, libcairo2, libexiv2-5, liblcms1, libjpeg62, libpng12-0, liblensfun0, liblensfun-data, libgconf2-4
Description: utility to organize and develop raw images
 .
 darktable is a virtual lighttable and darkroom for photographers. it manages your digital negatives in a database and lets you view them through a zoomable lighttable. it also enables you to develop raw images and enhance them.
 .
 this project tries to fill the gap between the many excellent existing free raw converters and image management tools (such as ufraw or f-spot). The user interface is built around efficient caching of image metadata and mipmaps, all stored in a database. the user will always be able to interact, even if the full resolution image is not yet loaded.
 .
 all editing is fully non-destructive and only operates on cached image buffers for display. the full image is only converted during export. the frontend is written in gtk+/cairo, the database uses sqlite3, raw image loading is done using libraw, hdr, exr and low dynamic range are supported through imagemagick (magickcore). the core operates completely on floating point values, so darktable can not only be used for photography but also for scientifically acquired images or output of renderers (high dynamic range).
