
/* ensure space for border is reserved for all modules */
#iop-expander
{
  border: 0.1em solid @plugin_bg_color;
  margin: 0.2em 0.2em 0 0.2em;
}

/* border for expanded modules */
#iop-expander.dt_module_expanded
{
  border: 0.1em solid @plugin_expanded_border_color;
}
